.body {
	position: relative;
	font-family: "PT Sans Narrow", sans-serif;
	text-align: center;
}

#headline {
	font-family: "Fondamento", cursive, sans-serif;
}

.article__text {
	font-family: "PT Sans Narrow", sans-serif;
}

.nav {
	display: flex;
	justify-content: flex-end;
	background: #e6e6fa;
}

.nav__item {
	color: black;
	padding: 15px 10px;
	text-decoration: none;
}

.nav__item:hover {
	background: #f0f8ff;
}

@media (min-width: 320px) {
	.nav {
		justify-content: space-around;
		font-size: 13px;
	}

	.nav__item {
		flex-grow: 1;
	}

	.header__headline {
		font-size: 15px;
	}

	.article__text {
		font-size: 10px;
	}
}

@media (min-width: 641px) {
	.nav {
		justify-content: space-around;
		font-size: 25px;
	}

	.nav__item {
		flex-grow: 1;
	}

	.header__headline {
		font-size: 45px;
	}

	.article__text {
		font-size: 35px;
	}
}
